.records
  padding: 5px
  border: 2px solid #fff
  border-radius: 6%
  width: 225px
  height: 250px
  background: #63e300
  overflow: auto

  &__title
    margin: 0
    font-family: 'Josefin Sans', sans-serif
    font-weight: bold
    font-size: 14px
    color: #fff
    text-align: center

  &__inner, &__head
    display: flex
    width: 100%
    height: auto
    justify-content: space-between



